@model CuaHangDoDien.Models.DBConection.DanhMucSP

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DanhMucSP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Tên danh mục</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDanhMuc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Danhmuc }) |
    @Html.ActionLink("Back to List", "Index")
</p>
